<a href="https://colab.research.google.com/github/iamshirdi/Datascience/blob/master/python/Exercise_Many_Students_in_Many_Courses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h4>read roster data in JSON format, parse the file, and then produce an SQLite database that contains a User, Course, and Member table and populate the tables from the data file.

In [22]:
!wget -O roster_data.json https://transfer.sh/nIFgK/roster_data.json

--2019-06-19 17:40:09--  https://transfer.sh/nIFgK/roster_data.json
Resolving transfer.sh (transfer.sh)... 144.76.136.153
Connecting to transfer.sh (transfer.sh)|144.76.136.153|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11952 (12K) [application/json]
Saving to: ‘roster_data.json’

roster_data.json    100%[===================>]  11.67K  --.-KB/s    in 0s

2019-06-19 17:40:37 (89.2 MB/s) - ‘roster_data.json’ saved [11952/11952]

In [24]:
!ls && head -10 roster_data.json

roster_data.json
[
  [
    "Corah",
    "si110",
    1
  ],
  [
    "Kimi",
    "si110",
    0

In [26]:
import json
import sqlite3

conn = sqlite3.connect('rosterdb.sqlite')
cur = conn.cursor()

# Do some setup
cur.executescript('''
DROP TABLE IF EXISTS User;
DROP TABLE IF EXISTS Member;
DROP TABLE IF EXISTS Course;

CREATE TABLE User (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    name   TEXT UNIQUE
);

CREATE TABLE Course (
    id     INTEGER NOT NULL PRIMARY KEY AUTOINCREMENT UNIQUE,
    title  TEXT UNIQUE
);

CREATE TABLE Member (
    user_id     INTEGER,
    course_id   INTEGER,
    role        INTEGER,
    PRIMARY KEY (user_id, course_id)
)
''')

fname = input('Enter file name: ')
if len(fname) < 1:
    fname = 'roster_data.json'

# [
#   [ "Charley", "si110", 1 ],
#   [ "Mea", "si110", 0 ],

str_data = open(fname).read()
json_data = json.loads(str_data)

for entry in json_data:

    name = entry[0];
    title = entry[1];
    role = entry[2];
    
    print((name, title,role))

    cur.execute('''INSERT OR IGNORE INTO User (name)
        VALUES ( ? )''', ( name, ) )
    cur.execute('SELECT id FROM User WHERE name = ? ', (name, ))
    user_id = cur.fetchone()[0]


    
    
    cur.execute('''INSERT OR IGNORE INTO Course (title)
        VALUES ( ? )''', ( title, ) )
    cur.execute('SELECT id FROM Course WHERE title = ? ', (title, ))
    course_id = cur.fetchone()[0]

    cur.execute('''INSERT OR REPLACE INTO Member
        (user_id, course_id,role) VALUES ( ?, ?,? )''',
        ( user_id, course_id,role ) )

    conn.commit()

Enter file name:
('Corah', 'si110', 1)
('Kimi', 'si110', 0)
('Chin', 'si110', 0)
('Sheafan', 'si110', 0)
('Caine', 'si110', 0)
('Brunon', 'si110', 0)
('Ruari', 'si110', 0)
('Maksymilian', 'si110', 0)
('Shanon', 'si110', 0)
('Kaci', 'si110', 0)
('Kadey', 'si110', 0)
('Demira', 'si110', 0)
('Glen', 'si110', 0)
('Kaia', 'si110', 0)
('Billy', 'si110', 0)
('Bill', 'si110', 0)
('Yana', 'si110', 0)
('Alveena', 'si106', 1)
('Mariana', 'si106', 0)
('Mehreen', 'si106', 0)
('Grahame', 'si106', 0)
('Elivia', 'si106', 0)
('Ayyub', 'si106', 0)
('Firaaz', 'si106', 0)
('Edwyn', 'si106', 0)
('Zuzia', 'si106', 0)
('Ethan', 'si106', 0)
('Rochelle', 'si106', 0)
('Pearl', 'si106', 0)
('Sweyn', 'si106', 0)
('Atapattu', 'si106', 0)
('Lennix', 'si106', 0)
('Lauchlan', 'si106', 0)
('Jaia', 'si106', 0)
('Shadow', 'si106', 0)
('Anay', 'si106', 0)
('Dev', 'si106', 0)
('Connall', 'si106', 0)
('Rhett', 'si106', 0)
('Connar', 'si106', 0)
('Lanah', 'si106', 0)
('Eliot', 'si106', 0)
('Nell', 'si106', 0)
('Elias', 'si106', 0)
('Aodhan', 'si106', 0)
('Laila', 'si106', 0)
('Raja', 'si106', 0)
('Jorji', 'si106', 0)
('Amaney', 'si106', 0)
('Asra', 'si206', 1)
('Prinay', 'si206', 0)
('Elen', 'si206', 0)
('Lusiana', 'si206', 0)
('Wei', 'si206', 0)
('Alona', 'si206', 0)
('Dilsa', 'si206', 0)
('Oscar', 'si206', 0)
('Alessio', 'si206', 0)
('Dan', 'si206', 0)
('Raja', 'si206', 0)
('Boudicca', 'si206', 0)
('Alexa', 'si206', 0)
('Sahana', 'si206', 0)
('Rasmus', 'si206', 0)
('Kaylen', 'si206', 0)
('Rosanna', 'si206', 0)
('Blyth', 'si206', 0)
('Momooreoluwa', 'si206', 0)
('Russel', 'si206', 0)
('Kevyn', 'si206', 0)
('Shanae', 'si206', 0)
('Rowenna', 'si206', 0)
('Chahat', 'si206', 0)
('Malisa', 'si206', 0)
('Saffron', 'si206', 0)
('Roark', 'si206', 0)
('Klein', 'si206', 0)
('Prithivi', 'si206', 0)
('Christoph', 'si206', 0)
('Jagat', 'si206', 0)
('Kodie', 'si206', 0)
('Kiefer', 'si206', 0)
('Katharine', 'si206', 0)
('Marli', 'si206', 0)
('Caryn', 'si301', 1)
('Lyall', 'si301', 0)
('Olurotimi', 'si301', 0)
('Marysia', 'si301', 0)
('Zainedin', 'si301', 0)
('Taliesin', 'si301', 0)
('Margaret', 'si301', 0)
('Aahana', 'si301', 0)
('Pascoe', 'si301', 0)
('Jaida', 'si301', 0)
('Kiran', 'si301', 0)
('Erica', 'si301', 0)
('Roma', 'si301', 0)
('Arman', 'si301', 0)
('Salihah', 'si301', 0)
('Logan', 'si301', 0)
('Azzam', 'si301', 0)
('Riley', 'si301', 0)
('Suman', 'si301', 0)
('Caiomhe', 'si301', 0)
('Jody', 'si301', 0)
('Gabby', 'si301', 0)
('Kyie', 'si301', 0)
('Annelie', 'si301', 0)
('Kiya', 'si301', 0)
('Abbas', 'si301', 0)
('Gursees', 'si301', 0)
('Saharra', 'si301', 0)
('Avanya', 'si301', 0)
('Xue', 'si301', 0)
('Saraah', 'si301', 0)
('Suraj', 'si301', 0)
('Islah', 'si301', 0)
('Marco', 'si301', 0)
('Shayna', 'si301', 0)
('Ollie', 'si301', 0)
('Willum', 'si301', 0)
('Janey', 'si301', 0)
('Stevie', 'si301', 0)
('Lois', 'si301', 0)
('Adrien', 'si301', 0)
('Axel', 'si301', 0)
('Remo', 'si301', 0)
('Kaelah', 'si301', 0)
('Anurati', 'si301', 0)
('Pearce', 'si301', 0)
('Jamie', 'si301', 0)
('Alaa', 'si301', 0)
('Davi', 'si301', 0)
('Zaina', 'si301', 0)
('Abigail', 'si310', 1)
('Shiza', 'si310', 0)
('Larissa', 'si310', 0)
('Liam', 'si310', 0)
('Brayden', 'si310', 0)
('Findlie', 'si310', 0)
('Alessandro', 'si310', 0)
('Danyal', 'si310', 0)
('Suilven', 'si310', 0)
('Kaleb', 'si310', 0)
('Ada', 'si310', 0)
('Rhett', 'si310', 0)
('Nikodem', 'si310', 0)
('Dawud', 'si310', 0)
('Sherese', 'si310', 0)
('Reese', 'si310', 0)
('Josi', 'si310', 0)
('Oryn', 'si310', 0)
('Neelam', 'si310', 0)
('Bony', 'si310', 0)
('Immanuel', 'si334', 1)
('Kayliegh', 'si334', 0)
('Sanfur', 'si334', 0)
('Luic', 'si334', 0)
('Joude', 'si334', 0)
('Kyna', 'si334', 0)
('Noa', 'si334', 0)
('Aylie', 'si334', 0)
('Charley', 'si334', 0)
('Rubhan', 'si334', 0)
('Dionne', 'si334', 0)
('Joel', 'si334', 0)
('Malia', 'si334', 0)
('Romy', 'si334', 0)
('Michael', 'si334', 0)
('Hussan', 'si334', 0)
('Leon', 'si334', 0)
('Hadjar', 'si334', 0)
('Falyn', 'si334', 0)
('Surya', 'si363', 1)
('Cheyanne', 'si363', 0)
('Celik', 'si363', 0)
('Taen', 'si363', 0)
('Kate', 'si363', 0)
('Logyne', 'si363', 0)
('Kallen', 'si363', 0)
('Reggie', 'si363', 0)
('Struan', 'si363', 0)
('Sung', 'si363', 0)
('Morgyn', 'si363', 0)
('Ben', 'si363', 0)
('Amos', 'si363', 0)
('Ciann', 'si363', 0)
('Amyleigh', 'si363', 0)
('Kerrie', 'si363', 0)
('Rasmus', 'si363', 0)
('Sona', 'si363', 0)
('Umer', 'si363', 0)
('Beyza', 'si363', 0)
('Cade', 'si364', 1)
('Man', 'si364', 0)
('Declain', 'si364', 0)
('Delilah', 'si364', 0)
('Apisai', 'si364', 0)
('Sorrel', 'si364', 0)
('Geena', 'si364', 0)
('Ida', 'si364', 0)
('Marcel', 'si364', 0)
('Daymian', 'si364', 0)
('Sydney', 'si364', 0)
('Kerrin', 'si364', 0)
('Chanelle', 'si364', 0)
('Chad', 'si364', 0)
('Rian', 'si364', 0)
('Tiarn', 'si364', 0)
('Shinay', 'si364', 0)
('Madinah', 'si364', 0)
('Laurianne', 'si364', 0)
('Deniss', 'si364', 0)
('Jannah', 'si364', 0)
('Indi', 'si364', 0)
('Denton', 'si422', 1)
('Renia', 'si422', 0)
('Caris', 'si422', 0)
('Ayiah', 'si422', 0)
('Tilly', 'si422', 0)
('Kelsay', 'si422', 0)
('Hussnan', 'si422', 0)
('Morris', 'si422', 0)
('Jahy', 'si422', 0)
('Ruben', 'si422', 0)
('Nolan', 'si422', 0)
('Zeinab', 'si422', 0)
('Joaquin', 'si422', 0)
('Fasai', 'si422', 0)
('Tilhi', 'si422', 0)
('Leia', 'si422', 0)
('Layney', 'si422', 0)
('Niharika', 'si422', 0)
('Kaydane', 'si422', 0)
('Miryn', 'si422', 0)
('Natania', 'si422', 0)
('Ayaana', 'si422', 0)
('Caolan', 'si422', 0)
('Mikey', 'si422', 0)
('Ardal', 'si422', 0)
('Ailey', 'si422', 0)
('Eryca', 'si422', 0)
('Josiah', 'si422', 0)
('Katey', 'si422', 0)
('Orrick', 'si422', 0)
('Killian', 'si422', 0)
('Patience', 'si430', 1)
('Rajveer', 'si430', 0)
('Danyil', 'si430', 0)
('Virginia', 'si430', 0)
('Melody', 'si430', 0)
('Aiyana', 'si430', 0)
('Amber', 'si430', 0)
('Marko', 'si430', 0)
('Carah', 'si430', 0)
('Jesse', 'si430', 0)
('Amaarah', 'si430', 0)
('Kyel', 'si430', 0)
('Cilla', 'si430', 0)
('Richard', 'si430', 0)
('Eagann', 'si430', 0)
('Azzam', 'si430', 0)
('Orson', 'si430', 0)
('Portia', 'si430', 0)
('Tian', 'si430', 0)
('Linzi', 'si430', 0)
('Marni', 'si430', 0)
('Ifrah', 'si430', 0)
('Kylah', 'si430', 0)
('Maura', 'si430', 0)
('Pablo', 'si430', 0)
('Zohair', 'si430', 0)
('Phani', 'si430', 0)
('Sandy', 'si430', 0)
('Rhein', 'si430', 0)
('Kerriannah', 'si430', 0)
('Amnah', 'si430', 0)
('Bernadette', 'si430', 0)
('Kareena', 'si430', 0)
('Umair', 'si430', 0)
('Hibatullah', 'si430', 0)
('Jedidiah', 'si430', 0)
('Kodi', 'si430', 0)
('Roxy', 'si430', 0)
('Stefanie', 'si430', 0)
('Humza', 'si430', 0)
('Tigan', 'si430', 0)

In [39]:
cur.execute('''SELECT hex(User.name || Course.title || Member.role ) AS X FROM 
    User JOIN Member JOIN Course 
    ON User.id = Member.user_id AND Member.course_id = Course.id
    ORDER BY X ''')
print(cur.fetchone())

('416168616E61736933303130',)

In [40]:
print(cur.fetchone())

('4162626173736933303130',)